                                  

                .btn_form_pass{

                                font-family: Arial, Helvetica, sans-serif;

                                font-size: 16px;

                                color: #ffffff;

                                padding: 6px 20px;

                                background: -moz-linear-gradient(

                                                top,

                                                #5e777d 0%,

                                                #5e777d);

                                background: -webkit-gradient(

                                                linear, left top, left bottom,

                                                from(#5e777d),

                                                to(#5e777d));

                                -moz-border-radius: 4px;

                                -webkit-border-radius: 4px;

                                border-radius: 4px;

                                border: 0px solid #5e777d;

                                -moz-box-shadow:

                                                0px 0px 0px rgba(94,119,125,0.6),

                                                inset 0px 0px 0px rgba(94,119,125,0.9);

                                -webkit-box-shadow:

                                                0px 0px 0px rgba(94,119,125,0.6),

                                                inset 0px 0px 0px rgba(94,119,125,0.9);

                                box-shadow:

                                                0px 0px 0px rgba(94,119,125,0.6),

                                                inset 0px 0px 0px rgba(94,119,125,0.9);

                                text-shadow:

                                                0px -1px 0px rgba(94,119,125,0.2),

                                                0px 1px 0px rgba(94,119,125,1);

                }

                .btn_form_pass{

                                cursor: pointer;

                }

 

                .btn_form_pass:hover{

 

                                font-family: Arial, Helvetica, sans-serif;

                                font-size: 16px;

                                color: #ffffff;

                                padding: 6px 20px;

                                background: -moz-linear-gradient(

                                                top,

                                                #85999e 0%,

                                                #85999e);

                                background: -webkit-gradient(

                                                linear, left top, left bottom,

                                                from(#85999e),

                                                to(#85999e));

                                -moz-border-radius: 4px;

                                -webkit-border-radius: 4px;

                                border-radius: 4px;

                                border: 0px solid #85999e;

                                -moz-box-shadow:

                                                0px 0px 0px rgba(133,153,158,0.6),

                                                inset 0px 0px 0px rgba(133,153,158,0.9);

                                -webkit-box-shadow:

                                                0px 0px 0px rgba(133,153,158,0.6),

                                                inset 0px 0px 0px rgba(133,153,158,0.9);

                                box-shadow:

                                                0px 0px 0px rgba(133,153,158,0.6),

                                                inset 0px 0px 0px rgba(133,153,158,0.9);

                                text-shadow:

                                                0px -1px 0px rgba(133,153,158,0.2),

                                                0px 1px 0px rgba(133,153,158,1);

 

                }

 

                .btn_form_pass:active{

 

                                font-family: Arial, Helvetica, sans-serif;

                                font-size: 16px;

                                color: #ffffff;

                                padding: 6px 20px;

                                background: -moz-linear-gradient(

                                                top,

                                                #5e777d 0%,

                                                #5e777d);

                                background: -webkit-gradient(

                                                linear, left top, left bottom,

                                                from(#5e777d),

                                                to(#5e777d));

                                -moz-border-radius: 4px;

                                -webkit-border-radius: 4px;

                                border-radius: 4px;

                                border: 0px solid #5e777d;

                                -moz-box-shadow:

                                                0px 0px 0px rgba(94,119,125,0.6),

                                                inset 0px 0px 0px rgba(94,119,125,0.9);

                                -webkit-box-shadow:

                                                0px 0px 0px rgba(94,119,125,0.6),

                                                inset 0px 0px 0px rgba(94,119,125,0.9);

                                box-shadow:

                                                0px 0px 0px rgba(94,119,125,0.6),

                                                inset 0px 0px 0px rgba(94,119,125,0.9);

                                text-shadow:

                                                0px -1px 0px rgba(94,119,125,0.2),

                                                0px 1px 0px rgba(94,119,125,1);

                                transform: translateY(2px);

 

                }

 

                .btn_form_finish{

                                font-family: Arial, Helvetica, sans-serif;

                                font-size: 16px;

                                color: #ffffff;

                                padding: 6px 20px;

                                background: -moz-linear-gradient(

                                                top,

                                                #38a6a0 0%,

                                                #38a6a0);

                                background: -webkit-gradient(

                                                linear, left top, left bottom,

                                                from(#38a6a0),

                                                to(#38a6a0));

                                -moz-border-radius: 4px;

                                -webkit-border-radius: 4px;

                                border-radius: 4px;

                                border: 0px solid #38a6a0;

                                -moz-box-shadow:

                                                0px 0px 0px rgba(56,166,160,0.6),

                                                inset 0px 0px 0px rgba(56,166,160,0.9);

                                -webkit-box-shadow:

                                                0px 0px 0px rgba(56,166,160,0.6),

                                                inset 0px 0px 0px rgba(56,166,160,0.9);

                                box-shadow:

                                                0px 0px 0px rgba(56,166,160,0.6),

                                                inset 0px 0px 0px rgba(56,166,160,0.9);

                                text-shadow:

                                                0px -1px 0px rgba(56,166,160,0.2),

                                                0px 1px 0px rgba(56,166,160,1);

                }

 

 

 

                .btn_form_finish:hover{

                                font-family: Arial, Helvetica, sans-serif;

                                font-size: 16px;

                                color: #ffffff;

                                padding: 6px 20px;

                                background: -moz-linear-gradient(

                                                top,

                                                #36c9c2 0%,

                                                #36c9c2);

                                background: -webkit-gradient(

                                                linear, left top, left bottom,

                                                from(#36c9c2),

                                                to(#36c9c2));

                                -moz-border-radius: 4px;

                                -webkit-border-radius: 4px;

                                border-radius: 4px;

                                border: 0px solid #36c9c2;

                                -moz-box-shadow:

                                                0px 0px 0px rgba(54,201,194,0.6),

                                                inset 0px 0px 0px rgba(54,201,194,0.9);

                                -webkit-box-shadow:

                                                0px 0px 0px rgba(54,201,194,0.6),

                                                inset 0px 0px 0px rgba(54,201,194,0.9);

                                box-shadow:

                                                0px 0px 0px rgba(54,201,194,0.6),

                                                inset 0px 0px 0px rgba(54,201,194,0.9);

                                text-shadow:

                                                0px -1px 0px rgba(54,201,194,0.2),

                                                0px 1px 0px rgba(54,201,194,1);

                }

 

                .btn_form_finish:active{

                                font-family: Arial, Helvetica, sans-serif;

                                font-size: 16px;

                                color: #ffffff;

                                padding: 6px 20px;

                                background: -moz-linear-gradient(

                                                top,

                                                #38a6a0 0%,

                                                #38a6a0);

                                background: -webkit-gradient(

                                                linear, left top, left bottom,

                                                from(#38a6a0),

                                                to(#38a6a0));

                                -moz-border-radius: 4px;

                                -webkit-border-radius: 4px;

                                border-radius: 4px;

                                border: 0px solid #38a6a0;

                                -moz-box-shadow:

                                                0px 0px 0px rgba(56,166,160,0.6),

                                                inset 0px 0px 0px rgba(56,166,160,0.9);

                                -webkit-box-shadow:

                                                0px 0px 0px rgba(56,166,160,0.6),

                                                inset 0px 0px 0px rgba(56,166,160,0.9);

                                box-shadow:

                                                0px 0px 0px rgba(56,166,160,0.6),

                                                inset 0px 0px 0px rgba(56,166,160,0.9);

                                text-shadow:

                                                0px -1px 0px rgba(56,166,160,0.2),

                                                0px 1px 0px rgba(56,166,160,1);

                                transform: translateY(2px);

                }

 

                .btn_form_finish{

                                cursor: pointer;

                }